# Lab 4 - Combining Dataframes

In [1]:
import pandas as pd

## NFL Offense Data

1. Import the NFL week 3, 4, and 5 data and add a week column to dataset and set the value to 3, 4, or 5 for all rows from that week.

reading in csv files

In [2]:
week3 = pd.read_csv('nfloffenseweek3.csv')
week4 = pd.read_csv('nfloffenseweek4.csv')
week5 = pd.read_csv('nfloffenseweek5.csv')

adding the "week" column

In [3]:
week3['week'] = 3
week4['week'] = 4
week5['week'] = 5

2. Combine the weekly dataframes by adding the dataframes together row-wise.

In [4]:
combined_weeks = pd.concat([week3,week4,week5])
combined_weeks

,rank,team,games,points_scored,total_yards,offensive_plays,yards_per_play,turnovers_lost,fumbles_lost,1st_downs,...,rushing_touchdowns,rushing_yards_per_attempt,rushing_1st_downs,penalties,penalty_yards,1st_down_penalties,percentage_scoring_drives,percentage_turnover_drives,expected_points,week
0,1,Baltimore Ravens,3,99,1141,166,6.9,3,1,55,...,2,5.6,18,8,44,5,42.9,8.6,35.63,3
1,2,Detroit Lions,3,95,1227,203,6.0,2,0,63,...,5,5.9,20,15,129,5,40.5,5.4,31.05,3
2,3,Buffalo Bills,3,91,1324,213,6.2,5,3,77,...,1,4.7,22,20,136,6,46.7,16.7,47.46,3
3,4,Kansas City Chiefs,3,88,1122,180,6.2,3,2,68,...,2,4.1,15,15,124,8,45.2,6.5,40.73,3
4,5,Philadelphia Eagles,3,86,1341,208,6.4,1,0,73,...,6,4.4,26,23,173,6,39.4,3.0,45.06,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,28,Chicago Bears,5,86,1370,266,5.2,8,4,73,...,5,4.9,38,27,211,9,36.5,13.5,-5.91,5
28,29,Los Angeles Rams,5,80,1499,312,4.8,12,5,93,...,3,3.2,19,17,156,8,31.4,23.5,-19.19,5
29,30,Pittsburgh Steelers,5,77,1479,306,4.8,9,3,92,...,4,3.9,27,30,213,6,26.3,12.3,-25.01,5
30,31,Denver Broncos,5,75,1718,318,5.4,6,3,84,...,2,4.3,26,44,335,8,29.3,10.3,-18.28,5
31,32,Indianapolis Colts,5,69,1665,343,4.9,11,4,101,...,1,3.6,26,31,267,6,26.3,19.3,-33.65,5

3. Make up 1 interesting question about this dataset. Answer it.

How has each team's highest rank changed over the course of 3 weeks?

In [5]:
combined_weeks.groupby(['team','week'])['rank'].max()

team                   week
Arizona Cardinals      3       13
                       4       14
                       5       18
Atlanta Falcons        3        9
                       4        8
                               ..
Tennessee Titans       4       22
                       5       23
Washington Commanders  3       12
                       4       26
                       5       26
Name: rank, Length: 96, dtype: int64

## World Population Data

I used inner merge on all of these because I didn't want a bunch of NaNs. NaNs are cringe

Reading in all the csv files

In [6]:
height_and_weight = pd.read_csv('height_weight_data.csv')
iq = pd.read_csv('iq.csv')
life_exp = pd.read_csv('life_expectancy.csv')
pop_dense = pd.read_csv('population_density.csv')
quality_life = pd.read_csv('quality_of_life.csv')

4. Join the height and weight data to the iq data.

In [7]:
height_weight_iq = pd.merge(height_and_weight,iq,on='country')
height_weight_iq

,country,male_height,female_height,male_weight,female_weight,male_bmi,female_bmi,iq,education_expenditure_per_inhabitant,daily_max_temp
0,Netherlands,184,170,87.9,73.2,26.1,25.3,102,"1,701",14.4
1,Montenegro,183,170,90.4,75.3,27.0,26.2,84,NaN,21.0
2,Estonia,182,168,89.9,73.7,27.0,26.0,99,459,10.1
3,Denmark,182,169,86.8,70.2,26.3,24.6,99,"3,127",12.5
4,Iceland,181,168,89.2,72.6,27.1,25.6,101,"2,443",8.1
...,...,...,...,...,...,...,...,...,...,...
89,Cambodia,165,154,59.7,52.8,22.0,22.2,88,7,32.5
90,Philippines,165,154,61.8,55.5,22.8,23.5,86,38,31.9
91,Bangladesh,165,152,57.7,50.5,21.3,21.8,77,9,29.8
92,Nepal,164,152,60.5,51.6,22.5,22.3,77,10,24.8
93,Timor-Leste,159,152,53.9,49.0,21.2,21.2,60,30,30.9

5. Join population density to quality of life data.

In [8]:
pop_quality = pd.merge(pop_dense,quality_life,on="country")
pop_quality

,country,area,population,pop_per_km_sq,stability,rights,health,safety,climate,costs,popularity
0,Singapore,719.0,5.45 M,7584.9,83,89,79,100,45,55,42
1,Bahrain,778.0,1.75 M,2247.2,59,45,61,92,63,72,29
2,Maldives,300.0,0.54 M,1812.1,64,39,72,87,63,59,18
3,Malta,320.0,0.52 M,1615.2,86,72,91,92,75,41,44
4,Bangladesh,147630.0,166.30 M,1126.5,43,26,44,74,50,61,33
...,...,...,...,...,...,...,...,...,...,...,...
56,Finland,338450.0,5.54 M,16.4,85,100,87,93,17,46,32
57,Norway,385203.0,5.41 M,14.0,89,99,90,99,17,42,37
58,Russia,17098250.0,143.45 M,8.4,47,26,74,75,33,62,43
59,Canada,9984670.0,38.25 M,3.8,85,92,78,97,33,37,45
60,Australia,7741220.0,25.74 M,3.3,86,92,87,100,90,23,41


6. Join life expectancy to quality of life data.

In [9]:
expectancy_quality = pd.merge(life_exp,quality_life,on="country")
expectancy_quality

,country,male_life_expectancy,female_life_expectancy,birth_rate,death_rate,stability,rights,health,safety,climate,costs,popularity
0,Hong Kong,82.9,88.0,5.8,6.8,77,85,100,97,49,61,52
1,Iceland,81.7,84.5,12.3,7.8,82,92,87,97,7,36,33
2,Japan,81.6,87.7,6.8,8.8,87,86,92,97,54,27,41
3,Norway,81.6,84.9,9.8,9.8,89,99,90,99,17,42,37
4,Singapore,81.5,86.1,8.5,10.8,83,89,79,100,45,55,42
...,...,...,...,...,...,...,...,...,...,...,...,...
99,Angola,58.7,64.4,39.8,7.8,27,24,10,55,63,53,31
100,Cameroon,58.4,60.9,34.4,8.9,40,19,9,27,60,51,34
101,Ivory Coast,56.9,59.5,35.2,9.7,47,36,11,58,53,57,37
102,Nigeria,54.1,56.0,37.0,11.4,18,24,12,23,54,57,39
103,Chad,53.1,55.9,41.2,11.7,46,12,0,31,50,49,44


7. Join iq, life expectancy, quality of life and population density into 1 dataframe.

In [10]:
pd.merge(pd.merge(iq,life_exp,on='country'),pop_dense,on='country')

,country,iq,education_expenditure_per_inhabitant,daily_max_temp,male_life_expectancy,female_life_expectancy,birth_rate,death_rate,area,population,pop_per_km_sq
0,Singapore,108,908,31.5,81.5,86.1,8.5,10.8,719.0,5.45 M,7584.9
1,South Korea,106,537,18.2,80.5,86.5,5.3,5.9,100339.0,51.74 M,515.7
2,Japan,105,"1,258",19.2,81.6,87.7,6.8,8.8,377970.0,125.68 M,332.5
3,China,104,27,19.0,75.0,79.4,8.5,7.1,9562910.0,"1,412.36 M",147.7
4,Switzerland,102,"2,539",15.1,81.1,85.2,9.9,8.8,41290.0,8.70 M,210.6
5,Netherlands,102,"1,701",14.4,79.8,83.1,9.7,9.7,41543.0,17.53 M,422.1
6,Finland,101,"1,990",8.2,79.4,85.0,8.4,10.0,338450.0,5.54 M,16.4
7,Canada,101,"1,661",7.3,79.7,83.9,9.4,8.1,9984670.0,38.25 M,3.8
8,Belgium,100,"1,676",14.8,78.6,83.1,9.9,11.0,30530.0,11.59 M,379.6
9,Germany,100,"1,385",13.7,78.6,83.4,9.3,11.9,357580.0,83.13 M,232.5
10,United Kingdom,100,"1,455",12.9,79.0,82.9,10.2,10.4,243610.0,67.33 M,276.4
11,New Zealand,100,"1,283",17.3,80.3,83.9,11.3,6.4,267710.0,5.12 M,19.1
12,Norway,99,"3,527",9.0,81.6,84.9,9.8,9.8,385203.0,5.41 M,14.0
13,Sweden,99,"2,359",9.9,80.7,84.2,10.9,9.5,447430.0,10.42 M,23.3
14,Luxembourg,99,"2,310",14.6,79.4,84.2,10.2,7.3,2590.0,0.64 M,246.7
15,Denmark,99,"3,127",12.5,79.6,83.6,10.4,9.4,42920.0,5.86 M,136.5
16,Australia,99,"1,390",24.4,81.2,85.3,11.5,6.3,7741220.0,25.74 M,3.3
17,France,98,"1,609",16.8,79.2,85.3,10.9,9.9,549087.0,67.50 M,122.9
18,United States,98,"1,904",18.8,74.5,80.2,10.9,10.3,9831510.0,331.89 M,33.8
19,Malta,97,619,23.1,80.8,84.6,8.6,7.9,320.0,0.52 M,1615.2
20,Italy,97,"1,175",17.8,80.1,84.7,6.8,12.6,301340.0,59.07 M,196.0
21,Spain,97,885,21.0,79.7,85.1,7.1,10.4,505935.0,47.33 M,93.5
22,Poland,97,298,13.4,72.6,80.8,9.4,12.6,312680.0,37.78 M,120.8
23,Russia,96,157,9.5,66.5,76.4,9.8,14.6,17098250.0,143.45 M,8.4
24,Ukraine,95,85,14.3,66.4,76.2,7.8,15.9,603550.0,43.81 M,72.6
25,Portugal,95,725,21.3,78.0,84.1,8.2,12.0,92226.0,10.30 M,111.7
26,Ireland,94,"1,635",13.2,80.4,84.1,11.2,6.4,70280.0,5.03 M,71.5
27,Vietnam,94,26,28.8,71.4,79.6,16.1,6.4,331230.0,98.17 M,296.4
28,Israel,94,"1,226",25.4,80.7,84.8,19.2,5.3,22070.0,9.36 M,424.3
29,Malaysia,93,273,32.1,74.4,78.5,16.4,5.3,330345.0,32.78 M,99.2
30,Greece,92,541,22.3,78.6,83.7,7.9,12.2,131960.0,10.66 M,80.8
31,Argentina,90,278,23.9,73.4,80.1,16.6,7.6,2780400.0,45.81 M,16.5
32,Romania,90,120,16.0,70.5,78.4,9.2,15.4,238400.0,19.12 M,80.2
33,Turkey,89,141,20.4,75.0,80.8,15.5,5.5,785350.0,85.04 M,108.3
34,Thailand,89,108,33.0,73.7,81.1,10.0,7.9,513120.0,69.95 M,136.3
35,Cambodia,88,7,32.5,67.7,72.2,21.6,6.0,181040.0,16.95 M,93.6
36,Brunei,88,840,31.7,74.9,77.3,14.1,4.7,5770.0,0.44 M,76.5
37,Mauritius,87,167,26.8,70.9,77.7,10.6,8.7,2040.0,1.27 M,620.6
38,Philippines,86,38,31.9,67.4,75.6,19.9,6.0,300000.0,111.05 M,370.2
39,Mexico,86,279,29.8,72.3,77.9,17.0,6.2,1964375.0,130.26 M,66.3
40,Iran,84,120,26.5,75.8,78.1,17.9,4.8,1745150.0,85.03 M,48.7
41,Indonesia,84,29,31.6,69.8,74.2,17.4,6.6,1913580.0,276.36 M,144.4
42,Egypt,83,58,30.0,69.9,74.5,25.1,5.7,1001450.0,104.26 M,104.1
43,Ecuador,83,68,24.3,74.5,80.0,19.2,5.1,256370.0,17.89 M,69.8
44,Brazil,83,223,30.7,72.5,79.7,13.5,6.6,8515770.0,213.99 M,25.1
45,United Arab Emirates,83,378,34.4,77.4,79.5,10.1,1.6,83600.0,9.99 M,119.5
46,Bahrain,83,401,32.6,76.6,78.6,13.3,2.4,778.0,1.75 M,2247.2
47,Pakistan,82,16,30.9,66.5,68.5,27.4,6.8,796100.0,225.20 M,282.9
48,India,81,22,31.7,68.7,71.2,17.4,7.3,3287259.0,"1,393.41 M",423.9
49,Saudi Arabia,81,700,32.5,74.1,76.9,16.8,3.5,2149690.0,35.34 M,16.4
50,Afghanistan,80,13,24.4,63.7,66.7,31.2,6.2,652860.0,39.84 M,61.0
51,Sri Lanka,79,30,29.7,73.8,80.4,15.3,6.9,65610.0,22.16 M,337.7
52,Qatar,78,"1,574",33.7,79.3,82.1,9.2,1.3,11610.0,2.93 M,252.4
53,Bangladesh,77,9,29.8,71.1,74.9,17.5,5.5,147630.0,166.30 M,1126.5
54,South Africa,70,247,24.7,61.0,67.9,19.8,9.4,1219090.0,60.04 M,49.3
55,Nigeria,70,NaN,33.7,54.1,56.0,37.0,11.4,923770.0,211.40 M,228.8
56,Cameroon,65,29,31.0,58.4,60.9,34.4,8.9,475440.0,27.22 M,57.3

8. Make up 1 interesting question about one of these datasets and answer it.

Does weight affect iq?

In [11]:
height_weight_iq.groupby(['country','iq'])[['male_weight','female_weight']].mean().sort_values('male_weight')

                  male_weight  female_weight
country       iq
Timor-Leste   60         53.9           49.0
Ethiopia      61         56.5           51.6
Bangladesh    77         57.7           50.5
Eritrea       63         58.8           52.2
India         81         59.6           52.5
...                       ...            ...
Estonia       99         89.9           73.7
Montenegro    84         90.4           75.3
United States 98         90.6           77.1
Croatia       95         91.3           74.7
Czechia       99         91.9           74.2

[94 rows x 2 columns]

9. Make up 1 interesting question about one of these datasets and answer it.

Does higher population density lower safety?

In [12]:
pop_quality.groupby(['country','safety'])['pop_per_km_sq'].mean().sort_values()

country       safety
Australia     100          3.3
Canada        97           3.8
Russia        75           8.4
Norway        99          14.0
Saudi Arabia  90          16.4
                         ...
Bangladesh    74        1126.5
Malta         92        1615.2
Maldives      87        1812.1
Bahrain       92        2247.2
Singapore     100       7584.9
Name: pop_per_km_sq, Length: 61, dtype: float64

10. Make up 1 interesting question about one of these datasets and answer it.

Do more rights lead to a higher life expectancy?

In [13]:
expectancy_quality.groupby(['country','rights'])[['male_life_expectancy','female_life_expectancy']].mean().sort_values('male_life_expectancy')

                    male_life_expectancy  female_life_expectancy
country     rights
Chad        12                      53.1                    55.9
Nigeria     24                      54.1                    56.0
Ivory Coast 36                      56.9                    59.5
Cameroon    19                      58.4                    60.9
Angola      24                      58.7                    64.4
...                                  ...                     ...
Singapore   89                      81.5                    86.1
Japan       86                      81.6                    87.7
Norway      99                      81.6                    84.9
Iceland     92                      81.7                    84.5
Hong Kong   85                      82.9                    88.0

[104 rows x 2 columns]